<h2>{{user.name}} Rate a beer!</h2>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{{#each model as |beer|}}
		<tr>
			<td>{{beer.name}}</td>
			<td>{{#link-to 'rate-beer' beer}}Rate{{/link-to}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>

{{#link-to 'beer.create'}}Add a new beer{{/link-to}}